.BeerProfile-modal-open {
  height: 100%;
  overflow: hidden;
}

.react-router-modal__modal {
  overflow:auto;
  /* height: 500px; */
}

.BeerProfile-main-container {
  display: flex;
  flex-direction:row;
  width: 792px;
  height: 800px;
}

.BeerProfile-img-container {
  display: flex;
}

.BeerProfile-text-container {
  width: 534px;
}

.BeerProfile-img {
  display: initial;
  height: auto;
  max-height: 400px;
  width: auto;
  max-width: 400px;
  margin: 42px 42px 0 82px;
}

.BeerProfile-h2-name {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.65rem;
  font-weight: 600;
  color: #7a7a7a;
  margin: 35px 0 5px 0;
  text-align: left;
}

.BeerProfile-tagline {
  font-size: 1.2rem;
  color: #c4c4c4;
  margin: 0;
  text-align: left;
}

.BeerProfile-hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #ccc;
  margin: 25px 0;
  padding: 0;
  width: 50px;
}

.BeerProfile-scales {
  color: #7a7a7a;
  text-align: left;
}

.BeerProfile-scales-span {
  font-weight: 800;
}

.BeerProfile-scales-data {
  font-weight: 600;
  color: #989898;
  margin-right: 10px;
}

.BeerProfile-description {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  color: #989898;
  padding: 0px 50px 10px 0px;
  text-align: left;
  margin: 0 0 20px 0;
}

.BeerProfile-description-tips {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  color: #989898;
  padding: 0px 50px 10px 0px;
  text-align: left;
  margin: 0 0 25px 0;
}

.BeerProfile-brewers-tips{
  display: block;
  font-weight: 700;
  color: #7a7a7a;
}

.BeerProfile-try {
  font-size: 1.2rem;
  display: block;
  font-weight: 700;
  color: #7a7a7a;
  text-align: left;
  margin: 10px 0 0 0;
}

.SimilarBeers-main-container {
  margin-bottom: 25px;
}
