.redux-lazy-scroll {
  overflow: hidden !important;
}

.BeerListingScroll-wrapper {
  display: flex;
  align-items: space-between;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #f7f7f7;
}

.BeerListingScroll-info-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  width: 200px;
  background-color: #f7f7f7;
}

.BeerListItem-h2-and-p-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  padding: 1px;
}

/* for screens larger then 1799px */
@media (min-width: 1820px) {
  .BeerListingScroll-wrapper {
    margin: 0 250px;
  }
}

@media (min-width: 1745px) {
  .BeerListingScroll-wrapper {
    margin: 0 300px;
  }
}

@media (min-width: 1575px) {
  .BeerListingScroll-wrapper {
    margin: 0 100px;
  }
}

@media (min-width: 1500px) {
  .BeerListingScroll-wrapper {
    margin: 0 50px;
  }
}

@media (min-width: 825px) {
  .BeerListingScroll-wrapper {
    margin: 0;
    padding: 10px;
  }
}

@media (min-width: 500px) {
  .BeerListingScroll-info-box {
    padding: 30px;
    margin-bottom: 20px;
  }
}

@media (min-width: 400px) {
  .BeerListingScroll-info-box {
    padding: 0;
    margin-bottom: 0;
    width: 320px;
  }
}
