.SimilarBeers-main-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.SimilarBeers-nothing-found {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  color: #989898;
  padding: 0px 50px 10px 0px;
  text-align: left;
}
