body {
  margin: 0;
  background-color: #f7f7f7;
}

.App {
  font-family: Arial;
  text-align: center;
}

.App-beer-logo {
  height: 80px;
  padding: 10px;
}

.App-header {
  background-color: #222;
  height: 160px;
  padding: 20px;
  color: white;
}

.App-title {
  font-family: 'Open Sans', sans-serif;
  color: #fdc22a;
  font-weight: 600;
  font-size: 1.75em;
  padding: 0;
  margin: 0;
}

.App-subtitle {
  font-size: 0.8em;
  font-style: italic;
  margin-top: 0;
}

.App-intro {
  font-size: large;
}

@media (max-width: 500px) {
  .App-header {
    background-color: #222;
    height: 90px;
    padding-bottom: 33px;
    color: white;
  }

  .App-title,
  .App-subtitle {
    display: none;
  }
}
