.SimilarBeersItem-img {
  height: auto;
  max-height: 100px;
  width: auto;
  max-width: 100px;
  margin: 10px 42px 0px 42px;
}

.SimilarBeersItem-p {
  font-weight: 700;
}

.SimilarBeersItem-just-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9rem;
  color: #989898;
}

.SimilarBeersItem-li {
  text-align: left;
}


.SimilarBeersItem-main-container {
  display: none;
  margin: 0 15px;
}


/* for screens larger then 791px */

@media (min-width: 792px) {
  .SimilarBeersItem-just-text {
    display: none;
  }

  .SimilarBeersItem-main-container {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .SimilarBeersItem-img {
    height: auto;
    max-height: 125px;
    width: auto;
    max-width: 60px;
    margin: 10px 42px 0px 42px;
  }
}
