.BeerListItem-main-card {
  margin: 15px;
  width: 250px;
  height: 133px;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.BeerListItem-img {
  display: none;
}

.BeerListItem-h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  color: #fdc22a;
  margin-bottom: 5px;
}

.BeerListItem-tagline {
  color: #c4c4c4;
  margin: 0;
}

.BeerListItem-link {
  text-decoration: none;
}

@media (min-width: 500px) {
  .BeerListItem-main-card {
    margin: 25px;
    width: 320px;
    height: 415px;
  }

  .BeerListItem-img {
    display: initial;
    height: auto;
    max-height: 250px;
    width: auto;
    max-width: 250px;
  }
}
